@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

body {
    margin: 0;
    padding: 0;
    background-color: #d0ccfc;
}

canvas {
    display: block;
}

body > canvas {
    left: 50%;
    margin-left: -640px;
    margin-top: -480px;
    position: absolute;
    top: 50%;
}

:root {
    --tp-base-background-color: hsla(230, 5%, 90%, 1.00);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.10);
    --tp-button-background-color: hsla(230, 7%, 75%, 1.00);
    --tp-button-background-color-active: hsla(230, 7%, 60%, 1.00);
    --tp-button-background-color-focus: hsla(230, 7%, 65%, 1.00);
    --tp-button-background-color-hover: hsla(230, 7%, 70%, 1.00);
    --tp-button-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-container-background-color: hsla(230, 15%, 30%, 0.20);
    --tp-container-background-color-active: hsla(230, 15%, 30%, 0.32);
    --tp-container-background-color-focus: hsla(230, 15%, 30%, 0.28);
    --tp-container-background-color-hover: hsla(230, 15%, 30%, 0.24);
    --tp-container-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-groove-foreground-color: hsla(230, 15%, 30%, 0.10);
    --tp-input-background-color: hsla(230, 15%, 30%, 0.10);
    --tp-input-background-color-active: hsla(230, 15%, 30%, 0.22);
    --tp-input-background-color-focus: hsla(230, 15%, 30%, 0.18);
    --tp-input-background-color-hover: hsla(230, 15%, 30%, 0.14);
    --tp-input-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-label-foreground-color: hsla(230, 10%, 30%, 0.70);
    --tp-monitor-background-color: hsla(230, 15%, 30%, 0.10);
    --tp-monitor-foreground-color: hsla(230, 10%, 30%, 0.50);
}

.tp-dfwv {
    min-width: 300px;
}